header.header__wrapper
    .header__row1
        .inner-frame
            .row1__col1
                a(target="_blank", href="https://www.facebook.com/search/top/?q=%ED%8F%AC%EA%B7%B8%EB%8B%88%EC%8A%A4&ref=eyJzaWQiOiIwLjY5Njc5MDgzOTU2Njc2ODMiLCJxcyI6IkpUVkNKVEl5SlVWRUpUaEdKVUZESlVWQkpVSTNKVUk0SlVWQ0pUaENKVGc0SlVWREpUaEJKVUUwSlRJeUpUVkUiLCJndiI6ImJlZTA5ZjkzZmE3MzJjZmE1OWExY2I2ZDlmNDUwZDM4OTI0MjRlNDkiLCJlbnRfaWRzIjpbXSwiYnNpZCI6IjU5NmU2ZWM4OTA0NWIyODZlMjQwNzAzZGNkOTdiY2JjIiwicHJlbG9hZGVkX2VudGl0eV9pZHMiOm51bGwsInByZWxvYWRlZF9lbnRpdHlfdHlwZSI6bnVsbCwicmVmIjoiYnJfdGYiLCJjc2lkIjpudWxsLCJoaWdoX2NvbmZpZGVuY2VfYXJndW1lbnQiOm51bGwsImNsaWVudF90aW1lX21zIjoxNTcyNDIwODQ3MTc5fQ&epa=SEARCH_BOX")
                    .facebookIcon
                        i.fab.fa-facebook-f
                a(href="https://www.instagram.com/pogunis/?hl=ko", target="_blank")
                    .instagramIcon 
                        i.fab.fa-instagram
            .row1__col2
                ul.menu-list
                    li 
                        a(href=`/admin${routes.uploadProduct}`) 업로드
                    ||
                    li 
                        a(href=`${routes.login}`) 로그인
                    ||
                    li
                        a(href=`${routes.join}`) 회원가입
                    ||
                    li
                        a(href=`/users${routes.cart}`) 장바구니
                    ||
                    li 
                        a(href=`/users${routes.editProfile}`) 마이샵 ▼
                    ||
                    li 
                        a(href=`/customer-support${routes.allcs}`) 커뮤니티 ▼
                    ||
                    li
                        a(href=`/customer-support${routes.faq}`) 상품Q&amp;A
                    ||
                    li
                        a(href=`/customer-support${routes.reviews}`) 상품후기
                form(action=routes.search, method="get").search-bar
                    input(type="text", placeholder="상품명을 입력해주세요", name="term")
                    button(type="submit")
                        i.fas.fa-search.searchBtn
    .header__row2
        .inner-frame
            span.row2__left
                img(src="https://images.unsplash.com/photo-1506959184536-dc0fc1a1033e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" height="100" width="100")
            a.row2__center(href=`${routes.home}`)
                span.logo-title 
                    span Pognis
                    span mall.com
                span.logo-desc 
                    span 포그니스, 내 가족을 위한 선택
            div.row2__right
                span 
                    | Prepare your Autumn <br/>
                    | with us
    .header__row3#jsHeaderRow3
        .inner-frame
            .menu
                i.fas.fa-bars
            ul.product-category
                li ABOUT US
                li 포그니스
                li 차렵이불
                li 이불커버
                li 베개커버
                li 패드/매트커버
                li 예단/혼수이불
                li 솜/소품
                li F/W신상품