header
    .header__wrapper
        .header__row1
            .row1__col1
                a(href="https://google.com")
                    .facebookIcon
                        i.fab.fa-facebook-f
                a(href="https://naver.com")
                    .instagramIcon 
                        i.fab.fa-instagram
            .row1__col2
                ul.menu-list
                    li 
                        a(href=`${routes.login}`) 로그인
                    ||
                    li
                        a(href=`${routes.join}`) 회원가입
                    ||
                    li
                        a(href=`/users${routes.cart}`) 장바구니
                    ||
                    li 
                        a(href=`/users${routes.editProfile}`) 마이샵 ▼
                    ||
                    li 
                        a(href=`/customer-support${routes.allcs}`) 커뮤니티 ▼
                    ||
                    li
                        a(href=`/customer-support${routes.faq}`) 상품Q&amp;A
                    ||
                    li
                        a(href=`/customer-support${routes.reviews}`) 상품후기
                form.search-bar
                    input(type="text", name="term")
                    i.fas.fa-search
        .header__row2
            span.row2__left
                img(src="https://images.unsplash.com/photo-1506959184536-dc0fc1a1033e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" height="100" width="100")
            a.row2__center(href=`${routes.home}`)
                span.logo-title 
                    span Pognis
                    span mall.com
                span.logo-desc 
                    span 포그니스, 내 가족을 위한 선택
            div.row2__right
                span 
                    | Prepare your Autumn <br/>
                    | with us
        .header__row3
            .menu
                i.fas.fa-bars
            ul.product-category
                li ABOUT US
                li 포그니스
                li 차렵이불
                li 이불커버
                li 베개커버
                li 패드/매트커버
                li 예단/혼수이불
                li 솜/소품
                li F/W신상품